.contentWrapper{
    width: 100%;
    min-height: calc(100vh - 115px);
    display: flex;
    align-items: center;
}


.contentText{
    margin:0 .5rem;
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    h3 {
    margin-bottom: 2.5rem;
    color: rgba(28, 55, 211, 0.897);
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgb(125, 129, 253);
    }

    p{
        color: rgb(9, 14, 43);
        font-weight: 600;
    }
}

.contentImage{
    width:70%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media only screen and (max-width: 700px) {
    .content-wrapper p {
        font-size: 10px;
    }
    .content-wrapper h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 350px) {
    .content-wrapper p {
        font-size: 8px;
    }
    .content-wrapper h3 {
        font-size: 14px;
    }
}